:root { 
  font-size: 60%;

  --color-background: #1E2023;
  --color-primary-lighter: #e5e5e5; 
  --color-button-text: #ffffff;
  --color-button-backgroud-primary: rgba(255,255,255,0.2);
  --color-button-backgroud-primary: #94BE2A;
}

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

html, body, #root { 
  height: 100vh;
}

body { 
  background: #e5e5e5;
}

#root { 
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input, 
button, 
textarea {
  font: 500 1.6rem Poppins;
} 

.container { 
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px){ 
  :root { 
    font-size: 62.5%;
  }
}